[submodule "Modules/DiELibDotNet"]
	path = Modules/DiELibDotNet
	url = https://github.com/ncatlin/DiELibDotNet

[submodule "Modules/dnYara3"]
	path = Modules/dnYara3
	url = https://github.com/ncatlin/dnYara

[submodule "Modules/Veldrid"]
	path = Modules/Veldrid
	url = https://github.com/mellinoe/veldrid